<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3'>
    <div class="container">
      <a class="navbar-brand " [routerLink]='["/"]' (click)="toggle()">
        <div class="nav-menu-option-image nav-menu-app-image"></div>
        <span class="nav-option-link">Sandwitch</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <li *ngFor="let Link of NavigationLinks" class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [id]=Link.Id [routerLink]=Link.Link (click)="toggle()">
              <div class={{Link.Class}}></div>
              <span class="nav-option-link">{{Link.Label}}</span>
            </a>
          </li>         
        </ul>
      </div>
    </div>
  </nav>
</header>