<div class="container">
    <mat-toolbar>
        <a id="nav-toggle" (click)="sidenav.toggle()">
            <div class="toolbar-option-image app-image"></div>
            <span class="toolbar-option-link">Sandwitch</span>
        </a>
    </mat-toolbar>
    <mat-sidenav-container>
        <mat-sidenav #sidenav mode="over">
            <ul>
                @for (Link of NavigationLinks; track Link) {
                    <li class="nav-item" [routerLinkActive]='["link-active"]'>
                        <a class="nav-link" [id]=Link.Id [routerLink]=Link.Link (click)="sidenav.close()">
                            <div class={{Link.Class}}></div>
                            <span class="nav-option-link">{{ Link.Label }}</span>
                        </a>
                    </li>
                }
            </ul>
        </mat-sidenav>
        <mat-sidenav-content>
            <ng-content></ng-content>
        </mat-sidenav-content>
    </mat-sidenav-container>

</div>