<div class="container" novalidate>
  <form [formGroup]="formGroup" class="form">

    <div class="modal-content-line">
      <div class="modal-option-image modal-name-image" aria-label="Name"></div>
      <mat-form-field class="form-element">
        <input matInput placeholder="Name" formControlName="Name">
        <mat-error *ngIf="!formGroup.controls['Name'].valid && formGroup.controls['Name'].touched">
          Required field.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="modal-content-line">
      <div class="modal-option-image modal-portrait-image" aria-label="ImageUri"></div>
      <mat-form-field class="form-element">
        <input matInput placeholder="ImageUri" formControlName="ImageUri">
        <mat-error *ngIf="!formGroup.controls['ImageUri'].valid && formGroup.controls['ImageUri'].touched">
          Required field.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="modal-content-line">
      <div class="modal-option-image modal-land-image"></div>
      <mat-form-field class="search-half-width">
        <mat-label>Provincia</mat-label>
        <mat-select formControlName="ProvinciaId">
          <mat-option *ngFor="let provincia of provincias" [value]="provincia.Id">
            <img class="select-option-img" aria-hidden [src]="provincia.ImageUri" height="25">
            <span>{{provincia.Name}}</span>
          </mat-option>
        </mat-select>
        <mat-error *ngIf="!formGroup.controls['ProvinciaId'].valid && formGroup.controls['ProvinciaId'].touched">
          Required field.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" (click)="onSubmit(formGroup.value)"
        [disabled]="!formGroup.valid">Save
      </button>
    </div>

  </form>
</div>