<div class="container" novalidate>
  <form [formGroup]="formGroup" class="form">

    <div class="modal-header">
      <div class="modal-option-image modal-sand-image"></div>
      <div mat-dialog-title>{{data.Name}}</div>
    </div>

    <div class="modal-content-line">
        <div class="modal-option-image modal-flag-image" aria-label="BanderaId"></div>
      <mat-form-field class="form-element">
        <mat-label>Bandera</mat-label>
        <mat-select formControlName="BanderaId">
          <mat-option *ngFor="let bandera of banderas" [value]="bandera.Id">
            <img class="select-option-img" aria-hidden [src]="bandera.ImageUri" height="25">
            <span>{{bandera.Name}}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="modal-content-line">
      <div class="modal-option-image modal-warm-image" aria-label="Temperatura"></div>
      <mat-form-field class="form-element">
        <input type="number" matInput placeholder="Temperatura" formControlName="Temperatura">
        <mat-error *ngIf="!formGroup.controls['Temperatura'].valid && formGroup.controls['Temperatura'].touched">
          Required field.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="modal-content-line">
      <div class="modal-content-tide">
        <div class="modal-option-image modal-low-tide-image" aria-label="BajaMarAlba"></div>
        <mat-form-field class="form-element">
          <input type="time" matInput placeholder="BajaMarAlba" formControlName="BajaMarAlba" step="1">
          <mat-error *ngIf="!formGroup.controls['BajaMarAlba'].valid && formGroup.controls['BajaMarAlba'].touched">
            Required field.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="modal-content-tide">
        <div class="modal-option-image modal-high-tide-image" aria-label="AltaMarAlba"></div>
        <mat-form-field class="form-element">
          <input type="time" matInput placeholder="AltaMarAlba" formControlName="AltaMarAlba" step="1">
          <mat-error *ngIf="!formGroup.controls['AltaMarAlba'].valid && formGroup.controls['AltaMarAlba'].touched">
            Required field.
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="modal-content-line">
      <div class="modal-content-tide">
        <div class="modal-option-image modal-low-tide-image" aria-label="BajaMarOcaso"></div>
        <mat-form-field class="form-element">
          <input type="time" matInput placeholder="BajaMarOcaso" formControlName="BajaMarOcaso" step="1">
          <mat-error *ngIf="!formGroup.controls['BajaMarOcaso'].valid && formGroup.controls['BajaMarOcaso'].touched">
            Required field.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="modal-content-tide">
        <div class="modal-option-image modal-high-tide-image" aria-label="AltaMarOcaso"></div>
        <mat-form-field class="form-element">
          <input type="time" matInput placeholder="AltaMarOcaso" formControlName="AltaMarOcaso" step="1">
          <mat-error *ngIf="!formGroup.controls['AltaMarOcaso'].valid && formGroup.controls['AltaMarOcaso'].touched">
            Required field.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="modal-content-line">
      <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button form-button"
          (click)="onSubmit(formGroup.value)" [disabled]="!formGroup.valid">Save
        </button>
      </div>
    </div>
  </form>
</div>