<div id="historico-add-modal" class="container">
  <form [formGroup]="formGroup" class="form" novalidate>

    <div class="modal-header">
      <div class="modal-option-image modal-sand-image"></div>
      <div mat-dialog-title>{{data.Name}}</div>
    </div>

    <div class="modal-content-line">
      <div class="modal-option-image modal-flag-image" aria-label="BanderaId"></div>
      <mat-form-field class="form-element">
        <mat-label>BanderaId</mat-label>
        <mat-select formControlName="BanderaId">
          @for (bandera of banderas; track bandera) {
            <mat-option [value]="bandera.Id">
              <img class="select-option-img" aria-hidden ngSrc="{{bandera.ImageUri}}" height="25" width="25">
              <span>{{bandera.Name}}</span>
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="modal-content-line">
      <div class="modal-option-image modal-warm-image" aria-label="Temperatura"></div>
      <mat-form-field class="form-element">
        <mat-label>Temperatura</mat-label>
        <input type="number" matInput placeholder="Temperatura" formControlName="Temperatura">
        @if (!formGroup.controls['Temperatura'].valid && formGroup.controls['Temperatura'].touched) {
          <mat-error>
            Required field.
          </mat-error>
        }
      </mat-form-field>
    </div>


    <div class="modal-content-line">

      <div class="modal-content-cell">
        <div class="modal-option-image modal-compass-image" aria-label="VientoId"></div>
        <mat-form-field class="form-element">
          <mat-label>VientoId</mat-label>
          <mat-select formControlName="VientoId">
            @for (viento of vientos; track viento) {
              <mat-option [value]="viento.Id">
                <img class="select-option-img" aria-hidden ngSrc="{{viento.ImageUri}}" height="25" width="25">
                <span>{{viento.Name}}</span>
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <div class="modal-content-cell">
        <div class="modal-option-image modal-wind-image" aria-label="Velocidad"></div>
        <mat-form-field class="form-element">
          <mat-label>Velocidad</mat-label>
          <input type="number" matInput placeholder="Velocidad" formControlName="Velocidad">
          @if (!formGroup.controls['Velocidad'].valid && formGroup.controls['Velocidad'].touched) {
            <mat-error>
              Required field.
            </mat-error>
          }
        </mat-form-field>
      </div>
    </div>

    <div class="modal-content-line">
      <div class="modal-content-cell">
        <div class="modal-option-image modal-low-sun-tide-image" aria-label="BajaMarAlba"></div>
        <mat-form-field class="form-element">
          <mat-label>BajaMarAlba</mat-label>
          <input type="time" matInput placeholder="BajaMarAlba" formControlName="BajaMarAlba" step="1">
          @if (!formGroup.controls['BajaMarAlba'].valid && formGroup.controls['BajaMarAlba'].touched) {
            <mat-error>
              Required field.
            </mat-error>
          }
        </mat-form-field>
      </div>
      <div class="modal-content-cell">
        <div class="modal-option-image modal-high-sun-tide-image" aria-label="AltaMarAlba"></div>
        <mat-form-field class="form-element">
          <mat-label>AltaMarAlba</mat-label>
          <input type="time" matInput placeholder="AltaMarAlba" formControlName="AltaMarAlba" step="1">
          @if (!formGroup.controls['AltaMarAlba'].valid && formGroup.controls['AltaMarAlba'].touched) {
            <mat-error>
              Required field.
            </mat-error>
          }
        </mat-form-field>
      </div>
    </div>

    <div class="modal-content-line">
      <div class="modal-content-cell">
        <div class="modal-option-image modal-low-night_tide-image" aria-label="BajaMarOcaso"></div>
        <mat-form-field class="form-element">
          <mat-label>BajaMarOcaso</mat-label>
          <input type="time" matInput placeholder="BajaMarOcaso" formControlName="BajaMarOcaso" step="1">
          @if (!formGroup.controls['BajaMarOcaso'].valid && formGroup.controls['BajaMarOcaso'].touched) {
            <mat-error>
              Required field.
            </mat-error>
          }
        </mat-form-field>
      </div>
      <div class="modal-content-cell">
        <div class="modal-option-image modal-high-night_tide-image" aria-label="AltaMarOcaso"></div>
        <mat-form-field class="form-element">
          <mat-label>AltaMarOcaso</mat-label>
          <input type="time" matInput placeholder="AltaMarOcaso" formControlName="AltaMarOcaso" step="1">
          @if (!formGroup.controls['AltaMarOcaso'].valid && formGroup.controls['AltaMarOcaso'].touched) {
            <mat-error>
              Required field.
            </mat-error>
          }
        </mat-form-field>
      </div>
    </div>
    <div class="modal-content-line">
      <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button form-button"
          (click)="onSubmit(formGroup.value)" [disabled]="!formGroup.valid" matTooltip="Save">Save
        </button>
      </div>
    </div>
  </form>
</div>