<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3'>
    <div class="container">
      <a class="navbar-brand " [routerLink]='["/"]'>
        <div class="nav-menu-option-image nav-menu-app-image"></div>
        <span>Sandwitch</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/provincias"]'>
              <div class="nav-menu-option-image nav-menu-land-image"></div>
              <span class="nav-option-link">Provincias</span>
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/provincias"]'>
              <div class="nav-menu-option-image nav-menu-town-image"></div>
              <span class="nav-option-link">Poblaciones</span>
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/provincias"]'>
              <div class="nav-menu-option-image nav-menu-sand-image"></div>
              <span class="nav-option-link">Arenales</span>
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/provincias"]'>
              <div class="nav-menu-option-image nav-menu-flag-image"></div>
              <span class="nav-option-link">Banderas</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>