<div id="arenal-add-modal" class="container" novalidate>
  <form [formGroup]="formGroup" class="form">

    <div class="modal-content-line">
      <div class="modal-option-image modal-name-image" aria-label="Name"></div>
      <mat-form-field class="form-element">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="Name">
        @if (!formGroup.controls['Name'].valid && formGroup.controls['Name'].touched) {
          <mat-error>
            Required field.
          </mat-error>
        }
      </mat-form-field>
    </div>
    <div class="modal-content-line">
      <div class="modal-option-image modal-town-image" aria-label="PoblacionesId"></div>
      <mat-form-field class="search-half-width">
        <mat-label>PoblacionesId</mat-label>
        <mat-select formControlName="PoblacionesId" multiple>
          @for (provincia of provincias; track provincia) {
            <mat-optgroup [label]="provincia.Name">
              @for (poblacion of provincia.Poblaciones; track poblacion) {
                <mat-option [value]="poblacion.Id">
                  <img class="select-option-img" aria-hidden ngSrc="{{poblacion.ImageUri}}" height="25" width="25">
                  <span>{{poblacion.Name}}</span>
                </mat-option>
              }
            </mat-optgroup>
          }
          @if (!formGroup.controls['PoblacionesId'].valid && formGroup.controls['PoblacionesId'].touched) {
            <mat-error>
              Required field.
            </mat-error>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" (click)="onSubmit(formGroup.value)"
        [disabled]="!formGroup.valid">Save
      </button>
    </div>

  </form>
</div>