<div id="arenal-add-modal" class="container" novalidate>
  <form [formGroup]="formGroup" class="form">

    <div class="modal-content-line">
      <div class="modal-option-image modal-name-image" aria-label="Name"></div>
      <mat-form-field class="form-element">
        <input matInput placeholder="Name" formControlName="Name">
        <mat-error *ngIf="!formGroup.controls['Name'].valid && formGroup.controls['Name'].touched">
          Required field.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="modal-content-line">
      <div class="modal-option-image modal-town-image" aria-label="PoblacionesId"></div>
      <mat-form-field class="search-half-width">
        <mat-label>Poblaciones</mat-label>
        <mat-select formControlName="PoblacionesId" multiple>
          <mat-optgroup *ngFor="let provincia of provincias" [label]="provincia.Name">
            <mat-option *ngFor="let poblacion of provincia.Poblaciones" [value]="poblacion.Id">
              <img class="select-option-img" aria-hidden ngSrc="{{poblacion.ImageUri}}" height="25" width="25">
              <span>{{poblacion.Name}}</span>
            </mat-option>
          </mat-optgroup>
          <mat-error *ngIf="!formGroup.controls['PoblacionesId'].valid && formGroup.controls['PoblacionesId'].touched">
            Required field.
          </mat-error>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" (click)="onSubmit(formGroup.value)"
        [disabled]="!formGroup.valid">Save
      </button>
    </div>

  </form>
</div>