/* ANGULAR MATERIAL OVERRIDE */
.mat-dialog-title {
margin: 0 8px !important;
color:#FFFFFF;
font-weight:unset !important;
}

.modal-header{
padding: 8px;
background-color: #912db9;
display: flex;
flex-direction: row;
justify-content: unset;
}  

.modal-content-line
{
clear: both;
padding:8px;
}

.modal-content-tide
{
float: left;  
padding-top:8px;
padding-right:8px;
padding-bottom:8px;
}

.modal-option-image{
height: 40px;
width: 40px;
border-radius: 50%;
flex-shrink: 0;
object-fit: cover;
float:left;
margin-right:8px;
}

.modal-sand-image{
background-image: url('/iconos/Arenal_500px.png');
background-size: cover;
}

.modal-warm-image{
background-image: url('/iconos/Temperatura_500px.png');
background-size: cover;
}  

.modal-low-tide-image{
background-image: url('/iconos/BajaMar_500px.png');
background-size: cover;
}  

.modal-high-tide-image{
background-image: url('/iconos/PleaMar_500px.png');
background-size: cover;
}  

.modal-flag-image{
background-image: url('/iconos/Bandera_500px.png');
background-size: cover;
}  