@if (loading()) {
  <div class="spinner-container">
    <div class="spinner"></div>
  </div>
}

<form class="search-form">
  <mat-form-field class="search-half-width">
    <mat-label>Search</mat-label>
    <input type="search" matInput placeholder="Search" aria-label="Search" [matAutocomplete]="auto"
      [formControl]="buscadorCtrl">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)='FindAllBeachByFinderId($event.option)' [displayWith]="displayFn" >
        @for (finder of filteredFinders(); track finder) {
          <mat-option [value]="finder">
            <img class="search-option-img" aria-label="finder.Name" aria-hidden ngSrc="{{finder.ImageUri}}" height="25" width="25">
            <span>{{finder.Name}}</span>
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    </form>

    <div class="search-result">
      @for (beach of beaches(); track beach) {
        <mat-card class="search-card" (click)="GetRecord(beach)">
          <mat-card-header>
            <div mat-card-avatar class="search-card-sand-image"></div>
            <mat-card-title>{{beach.Name}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <img class="search-card-flag-image" mat-card-image ngSrc="{{beach.LastHistoric.Flag.ImageUri}}" fill
              alt="{{beach.LastHistoric.Flag.Name}}">
              <mat-divider></mat-divider>
              <div class="search-card-content-line search-card-content-line-update">
                <div mat-card-avatar class="search-card-content search-card-update-image" aria-label="LastModified"></div>
                <span>{{beach.LastHistoric.LastModified | date: 'MMM d, y h:mm a'}}</span>
              </div>
              <mat-divider></mat-divider>
              <div class="search-card-content-line">
                <div mat-card-avatar class="search-card-content search-card-warm-image" aria-label="Temperature"></div>
                <div class="search-card-content">
                  <span>{{beach.LastHistoric.Temperature}} ºC</span>
                </div>
              </div>
              <div class="search-card-content-line">
                <div class="search-card-content-cell">
                  <div mat-card-avatar class="search-card-content search-card-compass-image" aria-label="Wind"></div>
                  <div class="search-card-content">
                    <span>{{beach.LastHistoric.Wind.Name}}</span>
                  </div>
                </div>
                <div class="search-card-content-cell">
                  <div mat-card-avatar class="search-card-content search-card-wind-image" aria-label="Speed"></div>
                  <div class="search-card-content">
                    <span>{{beach.LastHistoric.Speed}} m/s</span>
                  </div>
                </div>
              </div>
              <div class="search-card-content-line">
                <div class="search-card-content-cell">
                  <div mat-card-avatar class="search-card-content search-card-low-sun-tide-image" aria-label="LowSeaDawn"></div>
                  <div class="search-card-content">
                    <span>{{beach.LastHistoric.LowSeaDawn | date:'shortTime' }} </span>
                  </div>
                </div>
                <div class="search-card-content-cell">
                  <div mat-card-avatar class="search-card-content search-card-high-sun-tide-image" aria-label="HighSeaDawn"></div>
                  <div class="search-card-content">
                    <span>{{beach.LastHistoric.HighSeaDawn  | date:'shortTime'}}</span>
                  </div>
                </div>
              </div>
              <div class="search-card-content-line">
                <div class="search-card-content-cell">
                  <div mat-card-avatar class="search-card-content search-card-low-night_tide-image" aria-label="LowSeaSunset"></div>
                  <div class="search-card-content">
                    <span>{{beach.LastHistoric.LowSeaSunset  | date:'shortTime'}}</span>
                  </div>
                </div>
                <div class="search-card-content-cell">
                  <div mat-card-avatar class="search-card-content search-card-high-night_tide-image" aria-label="HighSeaSunset"></div>
                  <div class="search-card-content">
                    <span>{{beach.LastHistoric.HighSeaSunset  | date:'shortTime'}}</span>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        }
      </div>