.search-form {
min-width: 150px;
max-width: 500px;
width: 100%;
}

.search-full-width {
width: 100%;
}

.search-option-img {
vertical-align: middle;
margin-right: 8px;
}

[dir='rtl'] .search-option-img {
margin-right: 0;
margin-left: 8px;
}

.search-card {
max-width: 400px;
float: left;
margin:8px;
background-color: #F5F5F5;
}

mat-card-header
{
padding:8px;
}

mat-card-content
{
overflow: hidden; 
background-color: #F5F5F5;
}

.search-card-sand-image{
background-image: url('/iconos/Arenal_512px.png');
background-size: cover;
}

.search-card-flag-image
{
max-width: 400px;
}

.search-card-content
{
float: left;
}
.search-card-content-line
{
clear: both;
padding:8px;
}

.search-card-content-tide
{
float: left;  
padding-top:8px;
padding-right:8px;
padding-bottom:8px;
}

.search-card-warm-image{
background-image: url('/iconos/Temperatura_512px.png');
background-size: cover;
}  

.search-card-low-tide-image{
background-image: url('/iconos/BajaMar_512px.png');
background-size: cover;
}  

.search-card-high-tide-image{
background-image: url('/iconos/PleaMar_512px.png');
background-size: cover;
}  