.search-form {
min-width: 150px;
max-width: 500px;
width: 100%;
}

.search-full-width {
width: 100%;
}

.search-option-img {
vertical-align: middle;
margin-right: 9px;
}

[dir='rtl'] .search-option-img {
margin-right: 0;
margin-left: 9px;
}

.search-card {
max-width: 300px;
float: left;
margin:9px;
background-color: #F5F5F5;
}

mat-card-header
{
  padding:9px;
}

mat-card-content
{
  overflow: hidden; 
  background-color: #F5F5F5;
}

.search-card-sand-image{
background-image: url('/iconos/Arenal_512px.png');
background-size: cover;
}

.search-card-flag-image
{
  max-width: 300px;
}

.search-card-content
{
float: left;
}
.search-card-content-line
{
  clear: both;
  padding:9px;
}

.search-card-warm-image{
background-image: url('/iconos/Temperatura_512px.png');
background-size: cover;
}  

.search-card-low-tide-image{
background-image: url('/iconos/Bajamar_512px.png');
background-size: cover;
}  

.search-card-high-tide-image{
background-image: url('/iconos/Pleamar_512px.png');
background-size: cover;
}  