<div *ngIf="!provincias" class="spinner-container">
  <div class="spinner"></div>
</div>

<form class="search-form">
  <mat-form-field class="search-half-width">
    <input matInput placeholder="Provincia" aria-label="Provincia" [matAutocomplete]="auto"
      [formControl]="provinciaCtrl">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)='FindAllPoblacionByProvinciaId($event.option.id)'>
      <mat-option *ngFor="let provincia of filteredProvincias | async" [value]="provincia.Name" [id]="provincia.Id">
        <img class="search-option-img" aria-hidden [src]="provincia.ImageUri" height="25">
        <span>{{provincia.Name}}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="search-half-width" *ngIf="poblaciones">
    <input matInput placeholder="Poblacion" aria-label="Poblacion" [matAutocomplete]="auto"
      [formControl]="poblacionCtrl">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)='FindAllArenalByPoblacionId($event.option.id)'>
      <mat-option *ngFor="let poblacion of filteredPoblaciones | async" [value]="poblacion.Name" [id]="poblacion.Id">
        <img class="search-option-img" aria-hidden [src]="poblacion.ImageUri" height="25">
        <span>{{poblacion.Name}}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field> 
</form>

<div class="search-result">
<mat-card *ngFor="let arenal of arenales" class="search-card">
  <mat-card-header>
    <div mat-card-avatar class="search-card-sand-image"></div>
    <mat-card-title>{{arenal.Name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card *ngFor="let historico of arenal.Historicos">
      <img class="search-card-flag-image" mat-card-image src="{{historico.Bandera.ImageUri}}"
        alt="historico.Bandera.Name">
      <mat-card-content>
        <div class="search-card-content-line">
          <div mat-card-avatar class="search-card-content search-card-warm-image"></div>
          <div class="search-card-content">
            <span>{{historico.Temperatura}} ºC</span>
          </div>
        </div>
        <div class="search-card-content-line">
          <div class="search-card-content-tide">
            <div mat-card-avatar class="search-card-content search-card-low-tide-image"></div>
            <div class="search-card-content">
              <span>{{historico.BajaMarAlba | date: 'h:mm a'}} </span>
            </div>
          </div>
          <div class="search-card-content-tide">
            <div mat-card-avatar class="search-card-content search-card-high-tide-image"></div>
            <div class="search-card-content">
              <span>{{historico.AltaMarAlba | date: 'h:mm a'}}</span>
            </div>
          </div>
        </div>
        <div class="search-card-content-line">
          <div class="search-card-content-tide">
            <div mat-card-avatar class="search-card-content search-card-low-tide-image"></div>
            <div class="search-card-content">
              <span>{{historico.BajaMarOcaso | date: 'h:mm a'}}</span>
            </div>
          </div>
          <div class="search-card-content-tide">
            <div mat-card-avatar class="search-card-content search-card-high-tide-image"></div>
            <div class="search-card-content">
              <span>{{historico.AltaMarOcaso | date: 'h:mm a'}}</span>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
</div>